<br>
<div class="row justify-content-center">
  <div class="card text-center add-card" style=" width: 25rem;">
    <form action="/locations/{{this._id}}" method="post" data-toggle="validator">

      {{!-- TITLE FIELD --}}
      <div class="card-body">
        <div class="form-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Title:</label>
            <input class="form-control" type="text" name="title" value="{{this.title}}">
          </div>
        </div>
      </div>

      {{!-- GEOCODER FIELD --}}
      <div class="card-body">
        <div class="form-group">
          <div class="input-group-prepend">
            <div id='map' style='width: 400px; height: 400px;'>
              <script>
                mapboxgl.accessToken = '{{ mapboxToken }}';
                var map = new mapboxgl.Map({
                  container: 'map',
                  style: 'mapbox://styles/mapbox/streets-v11',
                  center: [-77.06, 38.0],
                  zoom: 13
                });

                var geocoder = new MapboxGeocoder({
                  accessToken: mapboxgl.accessToken,
                  mapboxgl: mapboxgl
                });

                map.addControl(geocoder, 'top-left');


                map.on('load', function () {

                  // Listen for the `geocoder.input` event that is triggered when a user
                  // makes a selection
                  geocoder.on('result', function (ev) {

                    document.getElementById("location-name").value = ev.result.place_name;

                  });
                });

              </script>
            </div>
          </div>
        </div>
      </div>
      <input id="location-name" name="location" type="hidden" value="{{this.location}}">

      {{!-- PLAN FIELD --}}
      <div class="card-body">
        <div class="form-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Plan:</label>

            <input class="form-control" type="text" name="plan" value="{{this.plan}}">
          </div>
        </div>
      </div>

      {{!-- DEADLINE FIELD --}}
      <div class="card-body">
        <div class="form-group">
          <div class="input-group-prepend">
            <label for="inputGroupSelect01" class="input-group-text" required>Deadline:</label>
            <input class="form-control" type="date" name="expireDate" value="{{this.expireDate}}"
              id="example-date-input">
          </div>
        </div>
      </div>

      {{!-- CHECKBOX --}}
      <div class="card-body">
        <div class="form-group">
          Check off my Bucket List: <input type="checkbox" name="">
        </div>
      </div>
      {{!-- SUBMIT BUTTON --}}

      <button type="submit" class="btn btn-dark mt-auto">SAVE</button>
    </form>
    <br>
    {{!-- DELETE BUTTON --}}
    <form action="/locations/{{this._id}}/delete" method="POST">
      <button type="submit" class="btn btn-outline-secondary btn-dark">DELETE</button>
    </form>
    <br>
  </div>
  <br>
</div>