<div class="row justify-content-center">
    <div class="card text-center add-card" style=" width: 25rem;">

        <form action="/profile/{{user._id}}" method="post" enctype="multipart/form-data">
            {{!-- USERNAME FIELD --}}
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <label for="inputGroupSelect01" class="input-group-text" required>Username:</label>
                        <input class="form-control" type="text" name="username" placeholder="Enter a username"
                            value="{{user.username}}">
                    </div>
                </div>
            </div>

            {{!-- EMAIL FIELD --}}

            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <label for="inputGroupSelect01" class="input-group-text" required>Email:</label>
                        <input class="form-control" type="text" name="email" placeholder="Your email address"
                            value="{{user.email}}">
                    </div>
                </div>
            </div>

            {{!-- BIO FIELD --}}
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <label for="inputGroupSelect01" class="input-group-text">Bio:</label>
                        </textarea>
                        <textarea class="form-control" name="bio" rows="10" cols="20"
                            placeholder="Write something about yourself">{{user.bio}}</textarea>
                    </div>
                </div>
            </div>
            {{!-- PROFILE PICTURE UPLOAD --}}

            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <label for="inputGroupSelect01" class="input-group-text">Profile Picture:</label>
                        <input type="file" name="userImage" class="form-control">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-dark mt-auto"> Update and Upload</button>

            {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
            {{/if}}

        </form>
    </div>
</div>