<form action="/profile/{{user._id}}" method="post">
    <input type="text" name="username" placeholder="Type in a username" value="{{user.username}}">
    </br>
    <input type="text" name="email" value="{{user.email}}">
    </br>
    </textarea>
    <textarea name="bio" rows="10" cols="30">{{user.bio}}</textarea>


    </br>
    {{!-- <input type="text" name="imageUrl" value={{user.imageUrl}}> --}}
    <input type="password" name="password" placeholder="Type in old or new password">
    <button type="submit"> Update and Upload</button>

    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

</form>