<header role="banner">
    <nav id="navbar-primary" class="navbar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-primary-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/" title="Go Back"><img src="./images/buttonBack.svg" /></a>
                    </li>
                    <li>
                        <a href="/feed" title="BuckIt Feed"><img src="./images/feed.svg" /></a>
                    </li>
                    <li>
                        <a href="/people" title="Friends"><img src="./images/friends.svg" /></a>
                    </li>
                    <li>
                        <a href="#" class="styleLogo">BUCK<img id="logo-navbar-middle" src="./images/bucket.svg"
                                width="50" alt="Logo Thing main logo" />IT</a>
                    </li>

                    <li>
                        <a href="/profile" title="Go to your Profile"><img src="./images/profile.svg" /></a>
                    </li>
                    <li>
                        <a href="/logout" title="Logout"><img src="./images/logout.svg" /></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>

{{!-- <h4 style="text-align: center">My Buckit!</h4> --}}

<p>{{this.user.bio}}</p>
<h1>{{this.user.username}}</h1>

<img width="300px" src="{{this.user.imageUrl}}">
</br>

<a href="/profile/{{this.user._id}}/edit"> Edit your Data</a>

<hr>
{{!-- List experiences here  --}}
<h3>UPCOMING EXPERIENCES:</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            {{#each experiences}}
            <div class="card-body">
                <div class="card-header">Experience</div>
                <h5 class="card-title">Title: {{this.title}}</h5>
                <p class="card-text">The Plan:{{this.plan}}</p>
                <a class="btn btn-primary btn-sm" href="/experiences/{{this._id}}/edit-experience"
                    class="edit-button">EDIT</a>
                <a href="/experiences/add-experience"> ADD</a>

            </div>
            {{/each}}
        </div>
    </div>
    {{!-- List locations here  --}}
    <h3>UPCOMING LOCATIONS TO GO TO:</h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                {{#each locations}}
                <div class="card-body">
                    <div class="card-header">Location</div>
                    <h5 class="card-title">Title: {{this.title}}</h5>
                    <p class="card-text">The Plan:{{this.plan}}</p>
                    <br>
                    <p>Due Date: {{this.expireDate}}</p>
                    <a class="btn btn-primary btn-sm" href="/locations/{{this._id}}/edit-location"
                        class="edit-button">EDIT</a>
                    <a href="/locations/add-location"> ADD</a>

                </div>
                {{/each}}
            </div>
        </div>