<h4>{{this.user.email}}</h4>
<p>{{this.user.imageUrl}}</p>
<a href="/users/{{this._id}}/edit"> Edit your Data</a>


<h4>Your Experiences: </h4>
{{#each experiences}}

{{this.title}}
<p>{{this.imageUrl}}</p>

{{/each}}
<a href="/profile/add-experience"> Add experience</a>
<br>
<h4>Your Locations: </h4>
{{#each locations}}

{{this.title}}
<p>{{this.imageUrl}}</p>


{{/each}}
<a href="/profile/add-location"> Add location</a>