<h5 class="card-title">{{this.title}}</h5>
<div class="card-header" id="color-loc"><b>I want to go to... </b><i>{{this.location}}</i></div>
{{!-- <p class="card-text"><b>This journey's title is: </b>{{this.title}}</h5> --}}
<br>
<p class="card-text"><b>The Plan:</b> {{this.plan}}</p>
<p><b>Deadline:</b> {{this.expireDate}}</p>
{{#each comments}}
{{> comment this }}
{{/each}}