{{!-- already new navbar --}}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarsExample11">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <b> GoBack</b>
            {{!-- http://localhost:3000/public/images/buttonBack.svg
                        http://localhost:3000/images/friends.svg --}}
            <img src="/images/buttonBack.svg">
            <!-- IMG  class="d-inline-block align-top" -->
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/feed" title="BuckIt Feed">
            <b> Feed</b><img src="/images/feed.svg" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/people" title="Friends">
            <b> Friends</b><img src="/images/friends.svg" /></a>
        </li>
        <li>
          <a class="styleLogo" href="#"><span class="styleLogo">BUCK
              <img id="logo-navbar-middle" src="/images/bucket.svg" width="50"
                alt="Logo Thing main logo" />IT</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile" title="Go to your Profile"><b>Profile</b><img
              src="/images/profile.svg" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" title="Logout">
            <b>Logout</b> <img src="/images/logout.svg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{!-- end navbar --}}

<h4>Edit your Buckit Item - {{this.title}} (Experience) </h4>

<div class="row justify-content-center">
  <div class="card text-center add-card" style=" width: 25rem;">
    <form action="/experiences/{{this._id}}/search-gif" method="POST" data-toggle="validator">
      {{!-- TITLE FIELD --}}
      <div class="card-body">
        <div class="form-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Title:</label>
            <input type="text" name="title" class="form-control" value="{{this.title}}">
            {{!-- <input type="text" class="form-control" id="inputName" placeholder="Cina Saffary" required> --}}
          </div>

        </div>
      </div>
      {{!-- PLAN FIELD   --}}
      <div class="card-body">
        <div class="form-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Plan:</label>
            {{!-- <input type="text" name="plan" class="form-control" value="{{this.plan}}">  --}}
            <textarea class="form-control" name="plan" id="" cols="30" rows="10">{{this.plan}}</textarea>
            {{!-- I added this text area type box so that user can enter multiple line input --}}
          </div>
        </div>
      </div>

      {{!-- DEADLINE FIELD --}}
      <div class="card-body">
        <div class="form-group">
          <div class="input-group-prepend">
            <label for="inputGroupSelect01" class="input-group-text">Deadline:</label>
            <input class="form-control" type="date" name="expireDate" value="{{this.expireDate}}"
              id="example-date-input">
          </div>
        </div>
      </div>
      {{!-- CHECKBOX --}}
      <div class="card-body">
        <div class="form-group">
          Check off my Bucket List: <input type="checkbox" name="done" {{#if this.done}}checked{{/if}}>
        </div>
      </div>
      <div class="form-button">
        <button type="submit" class="btn btn-dark mt-auto">SAVE</button>
      </div>

    </form>
    <form action="/experiences/{{this._id}}/delete" method="POST">
      <button type="submit" class="btn btn-outline-secondary btn-dark">
        DELETE
      </button>
    </form>

  </div>
</div>