<div class="container container-profile">
    <div class="row">

        <div class="col-sm-12" style="text-align:center;">
            <h1>Welcome to our awesome community!</h1>
            <h4>Just sniff a little bit in others people's buckits by clicking on their usernames
                <br>and get ideas by thousands of inspiring users!</h4>

            <br>
            <div class="input-group-prepend justify-content-center">
                <form action="/people" method="GET" class="">
                    <br>
                    <div class="form-group search-bar">
                        <input id="nomatch" type="text" name="search" placeholder="search by username"
                            class="form-control" width="100px">
                        <input type="submit" value="Search" class="btn btn-outline-info">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="container container-feed">
    <div class="row">
        {{#each users}}
        <div class="col-sm-6">

            <div class="profile-image-avatar" style="background-image: url({{this.imageUrl}})"></div>


            <div class="col-sm-8 profile-info">
                <h1 class="profile-user-name">{{this.username}}</h1>
            </div>
            <div class="col-sm-8 profile-info">
                {{!-- <img src="{{this.user.imageUrl}}" /> --}}
                <a class="btn btn-outline-info" href="/people/{{this._id}}" role="button">Go to
                    {{this.username}}'s
                    Buckit!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>