<header role="banner">
    <nav id="navbar-primary" class="navbar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-primary-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/" title="Go Back"><img src="./images/buttonBack.svg" /></a>
                    </li>
                    <li>
                        <a href="/feed" title="BuckIt Feed"><img src="./images/feed.svg" /></a>
                    </li>
                    <li>
                        <a href="/people" title="Friends"><img src="./images/friends.svg" /></a>
                    </li>
                    <li>
                        <a href="#" class="styleLogo">BUCK<img id="logo-navbar-middle" src="./images/bucket.svg"
                                width="50" alt="Logo Thing main logo" />IT</a>
                    </li>

                    <li>
                        <a href="/profile" title="Go to your Profile"><img src="./images/profile.svg" /></a>
                    </li>
                    <li>
                        <a href="/logout" title="Logout"><img src="./images/logout.svg" /></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
<<<<<<< Updated upstream
        <!-- /.container-fluid -->
    </nav>
</header>
<table class="table">

    <tr>
        <h1>Welcome to our awesome community!</h1>
        <h4>Just sniff a little bit in others people's buckits by clicking on their usernames
            and get ideas by thousands of inspiring users!</h4>
    </tr>
    {{#each users}}
    <tr>

        <td>
            <h1>{{this.email}}</h1>
            <img width="300px" src="{{this.user.imageUrl}}">

            <a href="/people/{{this._id}}"> Go to {{this.email}}'s Buckit!</a>

            {{!-- // route to movies/id in browser (we are not in movies.js right now!) --}}
        </td>

    </tr>
    {{/each}}




</table>
</br>
=======
    </div>
</nav>
{{!-- end navbar --}}
<div class="container container-feed">
    <div class="row">
        {{#each users}}
        <div class="col-sm-6">

            <div class="profile-image-avatar" style="background-image: url({{this.imageUrl}})"></div>


            <div class="col-sm-8 profile-info">
                <h1 class="profile-user-name">{{this.username}}</h1>
            </div>
            <div class="col-sm-8 profile-info">
                {{!-- <img src="{{this.user.imageUrl}}" /> --}}
                <a class="btn btn-outline-info" href="/people/{{this._id}}" role="button">Go to
                    {{this.username}}'s
                    Buckit!</a>
            </div>
        </div>
        {{/each}}
    </div>

>>>>>>> Stashed changes

<a href="/profile"> Back to my Buckit </a></br>
<a href="/feed"> Back to Feed </a>