{{!-- <header role="banner">
    <nav id="navbar-primary" class="navbar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-primary-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/" title="Go Back"><img src="./images/buttonBack.svg" /></a>
                    </li>
                    <li>
                        <a href="/feed" title="BuckIt Feed"><img src="./images/feed.svg" /></a>
                    </li>
                    <li>
                        <a href="/people" title="Friends"><img src="./images/friends.svg" /></a>
                    </li>
                    <li>
                        <a href="#" class="styleLogo">BUCK<img id="logo-navbar-middle" src="./images/bucket.svg"
                                width="50" alt="Logo Thing main logo" />IT</a>
                    </li>

                    <li>
                        <a href="/profile" title="Go to your Profile"><img src="./images/profile.svg" /></a>
                    </li>
                    <li>
                        <a href="/logout" title="Logout"><img src="./images/logout.svg" /></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header> --}}


<h1>Welcome to {{users.email}}'s profile!</h1>
<h4>Have a look in their buckit und their next great goals.</h4>




<p>This is their next experience:</p>
<h1>{{experience.title}}</h1>


<p>This is their next destonation:</p>
<h1>{{location.title}}</h1>
{{!-- <img src="{{this.imageUrl}}"> // ? --}}

{{!-- <a href="/people/{{user._id}}"> Go to {{user.email}}'s Buckit!</a> --}}